<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{title}}</title>
    <link rel="stylesheet" href="/Web-Server/public/css/styles.css">
</head>
<body>
    {{>header}}
    <p>{{msg}}</p>
    {{>footer}}
</body>
</html>