<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    {{!-- header partial file --}}
    {{>header}}

    {{!-- name variable to load up --}}
    <p>Use this site for Finding weather of your place {{name}}</p>

    {{!-- footer partial files --}}

    
        <form >
        <label>Enter the place to know the weather: </label>
        <input type="text" name="search" placeholder="Location">
        <button type="submit">Submit</button>
        </form>
    
        <p id='answer'></p>


    {{>footer}}
        <script src="/js/app.js"></script>
</body>

</html>