<header>
    <h1>{{title}}</h1>

    <div>
        <a  href="/">Weather</a>
        <a style="padding-left:1.5rem " href="/about">About</a>
        <a style="padding-left:1.5rem " href="/help">Help</a>
    </div>
</header>